body {
    margin: 0;
    padding: 0;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.nav-gold {
    background-color: #DAA520;
}

.btn {
    /* background-color: #7161ef; */
    background-color: #bb4d00;
    /* border-color: #7161ef; */
    border-color: #bb4d00;
    ;
}

.icon {
    /* background-color: #06a77d; */
    background-color: #DAA520;
}

.btn:hover {
    border-color: #8f250c;
}

/* Featurettes ------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -.05rem;
}

#hero {
    text-align: center;
}

#hero-sign {
    justify-content: center;
}

#app-store {
    max-width: 50%;
}

#left-content {
    padding-top: 2em;
}

#right-content {
    padding-bottom: 2em;
}

#features {
    padding-left: 3%;
}

.s-font {
    font-family: 'Sonsie One', cursive;
}

/* Media Queries
-------------------------------------------------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    #mock-div {
        margin: auto;
    }

    #mock-div img {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #mock-div img {
        max-width: 50%;
    }

    #left-content {
        padding-top: 0px;
    }

    #app-store {
        max-width: 25%;
    }

    #features {
        padding-left: 0%;
    }
}

@media (min-width: 800px) {
    #mock-div img {
        max-width: 50%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #hero {
        text-align: left;
    }

    #hero-sign {
        justify-content: start
    }

    #mock-div img {
        max-width: 100%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #mock-div img {
        max-width: 50%;
    }
}